@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    padding: 5%;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

button:hover {
    opacity: 0.5;
}

.padding-none {
    padding: 0px;
}

.padding-tiny {
    padding: 5px;
}

.padding-small {
    padding: 10px;
}

.text-small {
    font-size: 12pt;
}

.text-medium {
    font-size: 14pt;
}

.text-large {
    font-size: 24pt;
}

.text-huge {
    font-size: 28pt;
}

.control-button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.nav {
    list-style: none;
    text-align: center;
    margin: 0;
}

.nav li {
    display: inline;
}

.nav li > button {
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.clear {
    overflow: hidden;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

#board {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

#controls {
    margin: 0 auto;
}

#options-menu {
    display: none;
}

@media screen and (max-width:600px) {
    #board {
        height: 250px;
        width: 250px;
        margin: 0 auto;
        border-collapse: collapse;
    }

    .container {
        width: 250px;
        margin: 0 auto;
    }

    .btn {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    .padding-tiny {
        padding: 2.5px;
    }

    .padding-small {
        padding: 5px;
    }

    .text-small {
        font-size: 8pt;
    }

    .text-medium {
        font-size: 10pt;
    }

    .text-large {
        font-size: 16pt;
    }

    .text-huge {
        font-size: 18pt;
    }
}

*{
    -webkit-transition:all 0.25s ease;
    -moz-transition:all 0.25s ease;
    -o-transition:all 0.25s ease;
    transition:all 0.25s ease;
}