<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Flood game in JavaScript.">
    <title>Flood Game</title>
    <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>
  </head>
  <body>
    <a href="https://www.github.com/guomulian/flood" class="github-corner" aria-label="View source on GitHub">
      <svg width="80px"
        height="80px"
        viewBox="0 0 250 250"
        style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;"
        aria-hidden="true">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
    <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
          fill="currentColor"
          style="transform-origin: 130px 106px;"
          class="octo-arm"></path>
  <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
        fill="currentColor"
        class="octo-body"></path>
</svg>
</a>

<div id="app">
  <modal v-if="isGameOver" @close="restartGame">
    <h2 slot="header">Game Over</h2>
    <p slot="body">You {{ isGameWon ? "won with " + (moveLimit - moveCounter) + " moves left" : "lost" }}!</p>
  </modal>
  <modal v-if="!optionsHidden" @close="optionsHidden = true">
    <h2 slot="header">Options</h2>
    <form class="options"
          :class="{hidden: optionsHidden}"
          slot="body">
      <fieldset>
        <legend>Color Scheme</legend>
        <div class="flex"
          v-for="(colorScheme, n) in colorSchemeOptions">
          <input type="radio"
          v-model="colorSchemeIndex"
          :id="'color-scheme-radio-' + n"
          :value="n"
          :aria-label="'color scheme ' + n"
          :tabindex="optionsHidden ? -1 : 0">
          <label :for="'color-scheme-radio-' + n"
            class="scheme">
            <div class="scheme-tile"
              v-for="color in colorScheme"
              :color="color"
              :style="{backgroundColor: color}">
            </div>
          </label>
        </div>
      </fieldset>
      <fieldset>
        <legend>Number of Colors</legend>
        <div class="inline-flex"
          v-for="(nColors, n) in nColorsOptions">
          <input type="radio"
          v-model="nColorsIndex"
          :id="'n-colors-radio-' + n"
          :value="n"
          :tabindex="optionsHidden ? -1 : 0">
        <label :for="'n-colors-radio-' + n">{{ nColors }}</option>
      </div>
    </fieldset>
    <fieldset>
      <legend>Board Size</legend>
      <div class="inline-flex"
        v-for="(boardSize, n) in boardSizeOptions">
        <input type="radio"
        v-model="boardSizeIndex"
        :id="'board-size-radio-' + n"
        :value="n"
        :tabindex="optionsHidden ? -1 : 0">
      <label :for="'board-size-radio-' + n">{{ boardSize }}</option>
    </div>
    </fieldset>
    </form>
  </modal>
  <div class="wrapper">
    <div class="side-top inline-flex">
      <h1 class="header">Flood Game</h1>
      <div class="counter">{{ moveCounter }}/{{ moveLimit }}</div>
    </div>

    <flood-board class="center-area"
                :board="board.board"
                :color-scheme="colorScheme">
    </flood-board>

    <div class="side-left">
      <p>Try to fill the board with a single color before you run out of moves.</p>
    </div>

    <div class="side-bottom">
      <button class="control-button" @click="restartGame" aria-label="restart"><i class="fa fa-repeat" aria-hidden="true"></i></button>
      <button class="control-button" @click="toggleOptions" aria-label="options"><i class="fa fa-cog" aria-hidden="true"></i></button>
      <button class="control-button" @click="flood(n - 1)"
              v-for="n in nColors"
              :style="{backgroundColor: colorScheme[n - 1]}"
              :tabindex="optionsHidden ? 0 : -1"
              :aria-label="'flood color ' + n"></button>
    </div>
  </div>
</div>


<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/flood.js"></script>

<script type="text/javascript">
Vue.component('modal', {
    template: `<transition name="modal">
                <div class="modal-mask">
                  <div class="modal-wrapper">
                    <div class="modal-container">
                      <div class="modal-header">
                        <slot name="header">
                        </slot>
                      </div>

                      <div class="modal-body">
                        <slot name="body">
                        </slot>
                      </div>

                      <div class="modal-footer">
                        <slot name="footer">
                        <button
                            class="modal-default-button" 
                            @click="$emit('close')">Close</button>
                        </slot>

                      </div>
                    </div>
                  </div>
                </div>
              </transition>`
});

Vue.component('flood-board', {
    props: {
        board: Array,
        colorScheme: Array
    },
    template: `<div class="board">
                    <div class="board-row" v-for="row in board">
                        <flood-tile
                            v-for="tile in row"
                            :tile="tile"
                            :color-scheme="colorScheme">
                        </flood-tile>
                    </div>
               </div>`
});

Vue.component('flood-tile', {
    props: {
        tile: Object,
        colorScheme: Array
    },
    template: `<div class="tile"
                    :style="{backgroundColor: colorScheme[color]}">
                </div>`,
    computed: {
        color: function() { return this.tile.color }
    }
});

var app = new Vue({
  el: '#app',
  props: {
    boardSizeIndex: {
        type: Number,
        default: 0
    },
    nColorsIndex: {
        type: Number,
        default: 1
    },
    colorSchemeIndex: {
        type: Number,
        default: 0
    },
    boardSizeOptions: {
        type: Array,
        default: function() {
            return [8, 12, 18, 24];
        }
    },
    nColorsOptions: {
        type: Array,
        default: function() {
            return [3, 4, 5];
        }
    },
    colorSchemeOptions: {
        type: Array,
        default: function() {
            return [['#FF6C00', '#FFA500', '#1047A9', '#009E8E', '#6A0C62'],
                    ['#D60061', '#FF5C00', '#8BEA00', '#00A779', '#3D281D'],
                    ['#206176', '#BD882E', '#654308', '#BD602E', '#652908'],
                    ['#DAEBB0', '#849E44', '#3B3F74', '#A78E48', '#813868']]
        }
    },
    optionsHidden: {
        type: Boolean,
        default: true
    }
  },

  data: function () {
    return {
        board: new Board(this.nColorsOptions[this.nColorsIndex],
                         this.boardSizeOptions[this.boardSizeIndex]),
        moveCounter: 0
      }
  },

  computed: {
    colorScheme: function() {
        return this.colorSchemeOptions[this.colorSchemeIndex];
    },
    nColors: function() {
        return this.nColorsOptions[this.nColorsIndex];
    },
    boardSize: function() {
        return this.boardSizeOptions[this.boardSizeIndex];
    },
    isGameOver: function() {
        return this.board.isFlooded() || (this.moveCounter >= this.moveLimit);
    },
    isGameWon: function() {
        return this.board.isFlooded() && (this.moveCounter <= this.moveLimit);
    },
    moveLimit: function() {
        return maxAllowedMoves(this.nColors, this.boardSize);
    }
  },

  methods: {
    flood: function(color) {
        if (this.board.board[0][0].color !== color && !this.isGameOver) {
            this.board.flood(color);
            this.moveCounter += 1;
        }
    },

    restartGame: function() {
        this.moveCounter = 0;
        this.board = new Board(this.nColors, this.boardSize);
    },

    toggleOptions: function(event) {
        this.optionsHidden = !this.optionsHidden;
    }
  },

  watch: {
    nColors: function(nColors) {
        this.restartGame();
    },
    boardSize: function(boardSize) {
        this.restartGame();
    }
  }
})
</script>
</body>

</html>