body {
	padding: 5%;
	font-family: sans-serif;
}

#control-container {
	float: left;
	width: 30%;
	padding: 2%;
}

#counter-container {
	font-family: sans-serif;
	font-size: 36pt;
	color: gray;
}

#counter-container {
	padding: 5px;
}

#buttons-container {
	padding: 5px;
}

#buttons-container button {
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#buttons-container button:hover {
	opacity: 0.8;
}

#options-container {
	padding: 10px;
}

.main-button {
	border: none;
	padding: 2%;
	background-color: white;
	color: #aaaaaa;
	font-size: 14pt;
	font-weight: bold;
	text-transform: uppercase;
}

.main-button:hover {
	background-color: #eeeeee;
}

.option-toggle {
	width: 100%;
	border: none;
	padding: 2%;
	background-color: white;
	color: #aaaaaa;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
}

.option-toggle:hover {
	background-color: #eeeeee;
}

.option-div {
	width: 100%;
	text-align: center;
	display: none;
}

.option-div input[type=range] {
	width: 90%;
}