@import url('https://fonts.googleapis.com/css?family=Rubik|Lato|Roboto|Roboto Mono|Ubuntu Mono');

$font-stack-header: 'Rubik', sans-serif;
$font-stack-text: 'Lato', sans-serif;
$font-stack-monospace: 'Roboto Mono', monospace;

$font-size-default: 14pt;
$font-size-tiny: 8pt;
$font-size-small: 12pt;
$font-size-medium: 14pt;
$font-size-large: 18pt;


$speed-transition-default: 0.25s;

$scale-default: 1.2;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'large': 1024px
) !default;

$breakpoint-conditions: (
  'min-small': (min-width: map-get($breakpoints, 'small')),
  'min-medium': (min-width: map-get($breakpoints, 'medium')),
  'min-large': (min-width: map-get($breakpoints, 'large')),
  'max-small': (max-width: map-get($breakpoints, 'small')),
  'max-medium': (max-width: map-get($breakpoints, 'medium')),
  'max-large': (max-width: map-get($breakpoints, 'large')),
) !default;